$darkPurple: #422438;
$lightYellow: #FFF2D0;
$yellow : #FAC751;
$lightYellowHover : #FFE3C5;
$basicWhite : #FFF6EC;
$lightOrange : #FEA87E;
$paleOrange : #FFF2D0;
$red : #A23842;
$darkBlue : #011F42;
$lightBlue : #B3DDF0;
$white: #ffffff;
$purple: #422438;
$brown: #6A2837;